.redish{border:dashed 1px red}
.blueish{border:dashed 1px blue}
.nopadding{padding:0!important}

body,p,h1,h2,h3,h4,a,span,i,b{font-family:'Roboto',sans-serif;}
h2{font-size:1.8rem;margin:0 0 1rem;font-weight:700;}
.plr3{padding-left:3rem;padding-right:3rem}
.ptb2{padding-top:2rem;padding-bottom:2rem;}

.nav-bar{background:#0d1b2a;color:#fff}
.nav-bar .nav-wrap{display:grid;grid-template-columns:10rem auto 55%;padding-top:.5rem;padding-bottom:.5rem;}
.nav-bar .logo{display:block;height:3rem;width:100%;background:url(../images/kazi_online_sample_logo.png) no-repeat;background-size:contain;}
.nav-bar .search,.pre-footer .search{padding:0 .5rem;display:grid;align-items:center;padding-left:2rem}
.nav-bar .search .wrap,.pre-footer .search .wrap{background:#fff;display:grid;grid-template-columns:auto 4rem;padding:.25rem}
.nav-bar .search .wrap input,.pre-footer .search .wrap input,.nav-bar .search .wrap button,.pre-footer .search .wrap button{height:2.25rem;border-radius:0;border:none;box-shadow:none;margin:0}
.nav-bar .btns{display:grid;align-items:center;grid-template-columns:auto auto auto auto;justify-content:space-around;padding-left:2rem;}
.nav-bar .btns a{color:#fff}
.nav-bar .btns .btn.ghost{border:solid 1px #fff;background:none;}
.nav-bar .btns .btn.ghost:hover{border:solid 1px #fff;background:#fff;color:#ff0099;}
.nav-bar .btns .btn.ghost i{margin-left:0;}
.nav-bar a:not(.btn):hover{text-decoration:underline;cursor:pointer;}
.nav-bar.sub-nav{background:#e9f4fa;}
.nav-bar.sub-nav .nav-wrap{display:block;}
.nav-bar.sub-nav .btns{display:block;padding:.5rem 0}
.nav-bar.sub-nav .btns a{margin-right:2rem;color:#0d1b2a;text-transform:capitalize;}
.bread{padding:1rem 0}
.bread a{color:#0062cc;font-weight:700;display:inline-block;margin-right:1rem;}
.bread a:hover{text-decoration:underline;cursor:pointer;}
.bread a:not(:last-child)::after{font-family:'Material Icons';content:'double_arrow';display:block;float:right;margin-left:.2rem;}
.filter,.sort{display:grid;grid-template-columns:auto auto auto auto;align-content:center;justify-content:start;grid-gap:1rem}
.filter span,.sort span{font-size:1.1rem;display:grid;align-content:center;}
.sort{grid-template-columns:auto auto;justify-content:end;}
.filter span,.filter select{margin-right:1rem}
.cont-area,.content .products{display:grid;grid-template-columns:30% 30% 30%;justify-content:space-between;}
.cont-area .card{margin-bottom:2rem;}
.card .card-content .hdr{display:grid;grid-template-columns:60% 40%;margin-bottom:1rem;}
.card .card-content .hdr h4{font-size:1rem;font-weight:700;margin:0}
.card .card-content .hdr a{cursor:pointer;color:#000000de}
.card .card-content .hdr a:hover{color:#ff0099}
.card .card-content .hdr a i{margin-left:.5rem;font-size:1.25rem;}
.card .card-content .desc{display:grid;justify-content:space-between;grid-template-columns:auto auto;align-items:center;}
.card.menu .hdr{color:#fff;background:#ff0099;padding:10px 24px}
.card.menu .hdr h6{margin:0;font-size:1.2rem;}
.card.menu ul{margin:0;padding:0}
.card.menu ul li{margin-bottom:.2rem}
.card.menu ul li a{cursor:pointer;display:block;color:#0d1b2a;font-size:1.2rem;}
.card.menu ul li a:hover{color:#ff0099}
.pag-wrap{display:grid;justify-items:center;}
.pagination li.active{background-color:#0d1b2a;}
.pagination li{border-radius:15px;}
.pre-footer{background:#f6ae46;}
.pre-footer .container{display:grid;grid-template-columns:auto auto;align-items:center;padding-left:5rem;padding-right:5rem;}
.pre-footer .search .wrap{grid-template-columns:auto 30%;}
.pre-footer .search .wrap .btn{background:#f6ae46;}
.pre-footer .desc h4,.pre-footer .desc p{color:#fff}
.pre-footer .desc h4{font-size:1.5rem;}
.footer{background:#0d1b2a;color:#fff;text-align:center;padding-top:1rem;padding-bottom:1rem;}
.footer span{margin:0 .5rem}

.hero{height:45vh;position:relative;}
.hero::before{content:'';display:block;width:100%;height:100%;background:url(../images/drawable-xxxhdpi/mask_group_7.jpg) no-repeat;background-size:cover;position:absolute;top:0;left:0;z-index:1;filter:brightness(0.56)}
.hero .container{position:relative;z-index:10;padding-top:4rem}
.hero .container .desc{color:#fff;width:60%}
.hero .container .desc h2{margin:0 0 .6rem}
.hero .container .btns{margin-top:2rem}
.hero .container .btns span{color:#fff;margin-right:1.5rem}
.hero .container .btns a.btn{border:solid 1px #fff;background:none;border-radius:18px;font-size:.8rem;text-transform:capitalize;margin-right:.5rem;padding:0 1rem;line-height:1.8rem;height:1.8rem;box-shadow:none;}
.hero .container .btns a.btn:hover{background:#fff;color:#ff0099}
.sub-nav.sub-hero .nav-wrap{display:grid;grid-template-columns:auto auto auto auto;justify-content:space-between;}
.sub-nav.sub-hero .nav-wrap .blck{display:block;}
.sub-nav.sub-hero .nav-wrap .blck img{float:left;height:2.5rem;margin-right:.8rem}
.sub-nav.sub-hero .nav-wrap .blck .desc{float:left}
.sub-nav.sub-hero .nav-wrap .blck .desc span{color:#0d1b2a;display:block;line-height:1;font-size:.9rem;margin:.2rem 0;}
.content .products{grid-gap:1.5rem;grid-template-columns:auto auto auto auto;}
.content .products .product{margin-bottom:1rem;}
.content .products .product .img-wrap{overflow:hidden;height:10rem;border-radius:6px;margin-bottom:1rem;}
.content .products .product img{width:100%;}
.content .products .product h4{margin:.5rem 0 .35rem;font-size:1rem;font-weight:700;}
.content .products .product p{margin:0;font-size:.9rem;}
.post-hero{min-height:45vh;display:grid;grid-template-columns:40% 60%;}
.post-hero .img{background:url(../images/drawable-xxxhdpi/mask_group_2.jpg) no-repeat;background-size:cover;}
.post-hero .cont{background:#f6ae46;color:#fff;padding:1rem 8rem 1rem 5rem}
.post-hero .cont h3{font-size:2rem;}
.post-hero .cont ul{display:grid;grid-template-columns:auto auto;}
.post-hero .cont li{margin-bottom:1rem;}
.content.recent{background:#e1f3f8;padding-bottom:1.2rem;}
.content.recent .products{grid-template-columns:30% 30% 30%;padding-bottom:2rem;}
.content.recent .products .product{border-radius:6px;background:#F2FAFB;padding:1.2rem;margin-bottom:0;}
.content.recent .products .product .topish{display:grid;grid-template-columns:auto auto;justify-content:space-between;align-items:center;}
.content.recent .products .product .topish .pic{width:3.5rem;height:3.5rem;overflow:hidden;border-radius:50%;}
.content.recent .products .product .topish a{cursor:pointer;font-weight:700;color:#0062cc;text-decoration:underline;}
.content.recent .products .product .centish{text-align:left;margin-top:.5rem}
.content.recent .products .product .centish h4{font-size:1.15rem;}
.content.recent .products .product .centish p{font-size:1rem;color:#5b6272}
.content.recent .products .product .centish span{font-size:.9rem;color:#5d6473;display:block;margin:.55rem 0 1rem}
.content.recent .products .product .bottomish{display:grid;grid-template-columns:auto auto;justify-content:space-between;font-size:.8rem;font-weight:700;}
.content.recent .products .product .bottomish div{display:grid;align-items:center;grid-template-columns:auto auto;justify-content:left;}
.content.recent .products .product .bottomish div i{margin-right:.5rem;font-size:1.5rem;}
.linkish a{cursor:pointer;font-weight:700;font-size:1.1rem;color:#13203b;display:grid;grid-template-columns:auto auto;justify-content:center}
.linkish a i{margin-left:.5rem;}
.post-job{border-radius:8px;background:#f0f5f9;display:grid;grid-template-columns:40% auto;justify-content:space-between;margin:2rem 0;padding:2rem 1.5rem;align-items:center;}
.post-job h2{margin:0;line-height:1.4;}
.post-job a{padding:0.5rem 2rem;height:auto;border-radius:6px;text-transform:none;font-size:1.2rem;}
.explore{background:#f0f5f9;padding-top:1.2rem;padding-bottom:1.2rem;}
.explore h2{margin-bottom:2rem;font-size:1.5rem;}
.explore.content .products .product p{color:#5d6473;font-size:.75rem;}
.explore.content .products .product a{color:#ff0099;display:block;margin-top:1rem;font-weight:700;}
.explore.content .products .product .img-wrap{background:#fff;padding:2rem 1.5rem}
.explore.content .products .product .img-wrap.pinkish{background:#ff0099;color:#fff}
.explore.content .products .product .img-wrap img{height:2.5rem;width:auto;}
.explore.content .products .product .img-wrap span{display:block;font-size:1.2rem;font-weight:700;line-height:1.2;margin-top:.5rem;}
.slick-prev:before, .slick-next:before{color:#676767}
.caro-wrap{display:grid;grid-template-columns:60%;justify-content:center;margin-bottom:1rem;}
.slick-prev{width:3rem;height:3rem;left:-4rem}
.slick-next{width:3rem;height:3rem;right:-4rem}
.slick-next:before{font-family:'Material Icons';content:'keyboard_arrow_right';font-size:3rem;}
.slick-prev:before{font-family:'Material Icons';content:'keyboard_arrow_left';font-size:3rem;}
.caro .orng{background:#FEF6FA;color:#0d1b2a;padding:1.5rem}
.caro .orng p{font-size:.9rem;margin:0}
.caro .orng .btm{display:grid;align-items:center;justify-content:center;grid-template-columns:auto auto;margin-top:1rem}
.caro .orng .btm .img{display:block;width:4rem;height:4rem;overflow:hidden;border-radius:50%}
.caro .orng .btm .img img{width:100%}
.caro .orng .btm .cont{display:block;text-align:left;padding-left:1rem;}
.caro .orng .btm .cont h6{font-weight:700;margin-bottom:0;}
.caro .orng .btm .cont span{font-size:.9rem;}






